---
layout: default
title: Open Source Software Project Lab
mutedtitle: 6.S194
lozenge: home
---

<div class="row">
  <div class="span6 offset1">
    <h2>Announcements</h2>
    {% for post in site.posts %}
    <div class="post">
      <div class="row">
        <div class="span4">
          <h3>{{post.title}}</h3>
        </div>
        <div class="span2">
          <p class="time pull-right">{{ post.date | date: "%b %d" }}</p>
        </div>
      </div>
        <div class="postbody">
          {{post.content}}
        </div>
        <div class="postfooter">
        </div>
      </div>
  {% endfor %}
  </div>
  <div class="span4">
    <div class="row">
      <div class="span4">
        <br />
        <div class="well">
          {% include class-info.html %}
        </div>
        <div class="well">
          {% include class-list.html %}
        </div>
      </div>
    </div>
  </div>
</div>
