<h4>Class List</h4>
<ol>
  <li><a href="/6.S194/lessons/01-introduction/index.html">Introduction</a> (W 2/6)</li>
  <li><a href="/6.S194/lessons/02-bootup/index.html">Bootup</a> (M 2/11)</li>
  <li><a href="/6.S194/lessons/03-git/index.html">Become a Git Master</a> (W 2/13)</li>
  <li><a href="/6.S194/lessons/04-web-requests/index.html">Everything you ever wanted to know about Web Requests</a> (T 2/19)</li>
  <li>Design Studio (W 2/20)</li>
  <li>Debugging (M 2/25)</li>
  <li>Design Studio (W 2/27)</li>
  <li>Open Source Business Models (M 3/3)</li>
  <li>Design Studio (W 3/6)</li>
  <li>TBD (M 3/11)</li>
  <li>Design Studio (W 3/13)</li>
  <li>TBD (M 3/18)</li>
  <li>Design Studio (W 3/20)</li>
  <li>Remote Collaboration (M 3/25)</li>
  <li>Design Studio (W 3/27)</li>
</ol>
