<h4>Class List</h4>
<ol>
  <li><a href="/6.S194/lessons/01-introduction/index.html">Introduction</a> (W 2/6)</li>
  <li><a href="/6.S194/lessons/02-bootup/index.html">Bootup</a> (M 2/11)</li>
  <li><a href="/6.S194/lessons/03-git/index.html">Become a Git Master</a> (W 2/13)</li>
  <li><a href="/6.S194/lessons/04-web-requests/index.html">Everything you ever wanted to know about Web Requests</a> (T 2/19)</li>
  <li><a href="/6.S194/lessons/05-design-studio/index.html">Design Studio</a> (W 2/20)</li>
  <li><a href="/6.S194/lessons/06-debugging/index.html">Debugging</a> (M 2/25)</li>
  <li><a href="/6.S194/lessons/07-design-studio/index.html">Design Studio</a> (W 2/27)</li>
  <li><a href="/6.S194/lessons/08-open-source-business-models">Open Source Business Models</a> (M 3/3)</li>
  <li><a href="/6.S194/lessons/09-design-studio/index.html">Design Studio</a> (W 3/6)</li>
  <li><a href="/6.S194/lessons/10-work-day">Work Day</a> (W 3/11)</li>
  <li><a href="/6.S194/lessons/11-design-studio/">Design Studio</a> (W 3/13)</li>
  <li><a href="/6.S194/lessons/12-quantifying-code/">Quantifying Code</a> (M 3/18)</li>
  <li><a href="/6.S194/lessons/13-design-studio">Design Studio</a> (W 3/20)</li>
  <li><b>Spring Break (M 3/25 & 27)</b></li>
  <li><a href="/6.S194/lessons/14-quantifying-users/">Quantifying Users</a> (M 4/1)</li>
  <li>Work day (W 4/3)</li>
  <li><a href="/6.S194/lessons/16-remote-collaboration/">Remote Collaboration</a> (M 4/8)</li>
  <li><a href="/6.S194/lessons/17-design-studio/">Design Studio</a> (W 4/10)</li>
  <li><b>No class - Patriot's Day</b> (M 4/15)</li>
  <li>Design Studio (W 4/17)</li>
  <li>Work Day (M 4/22)</li>
  <li>Design Studio (W 4/24)</li>
  <li><b>No class - <a href="http://chi2013.acm.org/">CHI</a></b> (M 4/29 and W 5/1)</li>
  <li><a href="/6.S194/final-presentation.html">Final Presentations</a> (M 5/6)</li>
  <li><a href="/6.S194/final-presentation.html">Final Presentations</a> (W 5/8)</li>
  <li><b>No class - <a href="http://www2013.org/">WWW</a></b> (M 5/13 and W 5/15)</li>
  <li>*Note: <a href="/6.S194/final-report.html">Report</a> due W 5/15*</li>
</ol>
