---
layout: default
---

<div class="row">
  <div class="span7 offset1 class">
    {{ content }}
  </div>
  <div class="span3">
    <div class="row">
      <div class="span3">
        <br />
        <div class="well">
          <a href="https://docs.google.com/forms/d/1H30wscwbX9RgEcyGMcecQGykCSTIQLVHnc7_l3Dyl94/viewform">Send Anonymous Feedback</a>
        </div>
        <div class="well">
          <p align="center" style="margin-bottom: 0">
          <a href="index.html" class="btn btn-info">
            <i class="icon-white icon-arrow-left"></i>
            Back to lesson
          </a></p>
        </div>
      </div>
    </div>
  </div>
</div>
